button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
li>button{
	border-radius: 50%;
	color: cornsilk;
	background-image: url(./bg1.jpg);
	color: cornsilk;
}
input{
	border-radius: 10px;
	padding: 5px;
	border: 1px solid #14141f;
	margin-right: 10px;
	border-color: rgb(27, 2, 1);
	outline: none;
}
li{
	padding:5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: aqua;
}
span{
	padding-right:10px;
}
.important{
    color: royalblue;
    font-weight: bold;
}
.done{
    color: rgb(228, 17, 17);
    text-decoration: line-through;
}

.myList:hover{
    cursor: pointer;
}