.add{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-image: url(./bg1.jpg);
	font-size: 30px;
	color: cornsilk;
	outline: hidden;	
}
textarea {
	resize: none;
	border-radius: 5px;
	height:40px;
	margin-right: 15px;
}
.adding{
	display: flex;
	align-items: center;
	outline: none;
}